.card{
    width: 560px;
    margin: 0 auto;
    padding-top: 20px;
    border: 0.2rem solid black;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.cardInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cardInfo img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: rgb(43, 43, 43);
}

.username{
    font-size: 42px;
    font-weight: 700;
    margin: 20px 0 10px;
}

.tag, .location{
    font-size: 36px;
    color: gray;
}