.friendList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 560px;
    margin: 0 auto;
}

.friendList li{
    width: calc((100% - 40px) / 5);
    border: 2px solid black;
    border-radius: 5px;
}