
.transactionHistoryList{
    width: 560px;
    margin: 0 auto;
    border-collapse: collapse;
}

.transactionHistoryList thead{
    background-color: rgb(32, 32, 32);
    color: #fff;
}

tbody tr:nth-child(2n){
    background-color: lightgray;
}

th, td{
    height: 30px;
    width: calc(100% / 3);
    border: 2px solid black;
    text-transform: capitalize;
    text-align: center;
    padding: 0;
}

td:first-child{
    text-align: left;
    padding-left: 56px;
}


